.cart-item {
  display: grid;
  padding-top: 17px;

  text-align: left;

  grid-template-columns: 1fr auto;

  @media #{$mobile} {
    padding-top: 10px;
  }
}

.cart-item figure {
  display: flex;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.cart-item__image {
  display: flex;
  width: 84px;
  height: 79px;
  margin-top: 6px;
  margin-right: 20px;

  @media #{$mobile} {
    width: 70px;
    height: 63px;
    margin-right: 16px;
  }
}

.cart-item__image picture,
.cart-item__image img {
  display: block;
  width: 100%;
  height: 100%;
}

.cart-item h3 {
  margin: 0;
  margin-bottom: 9px;

  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  font-family: $font-cormorant;

  @media #{$mobile} {
    font-size: 16px;
    line-height: 21px;
  }
}

.cart-item p {
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.cart-item__counter {
  margin-top: -7px;
  margin-right: -10px;
  margin-left: 10px;
}
