.cart__icon {
  display: none;

  @media #{$tablet} {
    display: block;

    fill: transparent;
  }
}

.cart a {
  &:focus,
  &:hover {
    color: var(--placeholder-grey);
  }

  &:active {
    color: var(--basic-black);
  }
}

.cart p {
  @media #{$tablet} {
    display: none;
  }
}

.header--brown .cart__icon {
  color: var(--basic-white);
}
