.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-bottom: -5px;
  padding: 0;

  list-style: none;

  @media #{$tablet} {
    flex-direction: column;
    margin-bottom: 40px;

    font-size: 24px;
    line-height: 36px;
  }

  @media #{$mobile} {
    margin-bottom: 30px;
  }
}

.categories__item {
  margin: 0 8px;
  margin-bottom: 5px;

  @media #{$tablet} {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 21px;
    }
  }
}

.categories__link {
  padding: 0 10px;

  @media #{$tablet} {
    padding: 0;
  }

  &:focus,
  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.7;
  }
}
