.field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.field input {
  width: 100%;
  padding: 10px 0;

  font: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black);

  background-color: var(--bg-beige);
  border: none;
  border-bottom: 1px solid var(--basic-black);
  border-radius: 0;

  &::placeholder {
    color: var(--placeholder-grey);
  }

  &:focus,
  &:hover {
    outline: 2px solid var(--basic-black);
    outline-offset: 3px;
  }
}

.field a {
  align-self: flex-end;
  margin-top: 4px;

  font-size: 12px;
  line-height: 18px;
  color: var(--placeholder-grey);

  &:focus,
  &:hover {
    color: var(--basic-black);
  }

  &:active {
    color: var(--basic-black);

    opacity: 0.7;
  }
}
