// header

.header {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 Max(45px, calc(50% - 585px));
  padding-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  background-color: var(--basic-white);

  &::after {
    content: "";
    position: absolute;
    top: 115px;
    right: 0;
    left: 0;

    height: 1px;

    background-color: var(--border-grey);

    @media #{$tablet} {
      display: none;
    }
  }

  @media #{$tablet} {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;

    &--brown {
      background-color: var(--basic-brown);
    }
  }

  @media #{$mobile} {
    padding: 20px 15px 20px;
  }
}

.header__logo {
  width: 66px;
  height: 66px;
  margin: 0 auto;

  @media #{$mobile} {
    width: 52px;
    height: 52px;
  }
}

.header__search {
  position: absolute;
  top: 40px;
  left: 98px;

  @media #{$tablet} {
    position: unset;

    margin-bottom: 46px;
  }

  @media #{$mobile} {
    margin-bottom: 35px;
  }
}

.header__login,
.header__cart {
  position: absolute;

  font-size: 14px;
  line-height: 21px;

  &:focus,
  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.7;
  }
}

.header__login {
  top: 42px;
  right: 180px;

  @media #{$tablet} {
    position: unset;

    order: 1;
    align-self: flex-start;

    font-size: 18px;
    line-height: 23px;
  }
}

.header__cart {
  top: 28px;
  right: 100px;

  @media #{$tablet} {
    position: unset;

    margin-top: -5px;
    margin-left: 15px;
  }

  @media #{$mobile} {
    margin-left: 20px;
  }
}

.header__navigation {
  order: 1;
  width: 100%;
  margin-top: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 10px;

  @media #{$tablet} {
    z-index: 1;

    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-top: 20px;
  }
}

.header__burger {
  display: none;
}

.js .header__burger {
  @media #{$tablet} {
    display: unset;
    order: -1;
    margin-left: -12px;
  }
}

.js .header__navigation {
  @media #{$tablet} {
    position: absolute;
    top: 100%;
    left: 0;

    display: none;
  }
}

.header--brown .header__navigation {
  display: flex;

  @media #{$tablet} {
    padding: 0;
    padding-top: 40px;
    padding-bottom: 45px;

    color: var(--basic-white);

    background-color: var(--basic-brown);
  }

  @media #{$mobile} {
    padding: 30px 0 30px;
  }
}

.header--show {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;

  overflow: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.header--show .header__navigation {
  position: unset;
}
