.logo {
  display: grid;
  justify-content: center;
  align-items: center;

  color: var(--basic-brown);

  grid-template-areas: "logo";

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.7;
  }
}

.logo svg {
  width: 100%;
  height: auto;

  grid-area: logo;
  object-fit: cover;
}

.header--brown .logo {
  color: var(--basic-white);
}
