.js .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;

  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 100vh;
  overflow: auto;

  background: rgba(29, 22, 19, 0.25);

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &--filter {
    position: unset;
    top: unset;
    right: unset;
    bottom: unset;
    left: unset;
    z-index: unset;

    display: unset;
    justify-content: unset;
    align-items: unset;
    width: unset;
    max-height: unset;
    overflow: unset;

    background-color: var(--basic-white);

    @media #{$tablet} {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 9999;

      display: none;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      max-height: 100vh;
      padding-top: 27px;
      overflow: auto;
    }

    @media #{$mobile} {
      padding-top: 76px;
    }
  }

  &--open {
    display: flex;
  }
}

.modal__popup {
  box-shadow: 0 4px 32px rgba(121, 121, 121, 0.24);
}

.modal--filter .modal__popup {
  box-shadow: unset;

  @media #{$tablet} {
    margin-left: -20px;

    box-shadow: 0 5px 32px rgba(219, 213, 208, 0.24);
  }

  @media #{$mobile} {
    margin: 0 auto;
  }
}
