.page {
  height: 100%;

  font-style: normal;
  font-family: $font-poppins;
  color: var(--text-black);

  background-color: var(--basic-white);
}

.page body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: $small;
  height: 100%;
}

.page main {
  flex-grow: 1;

  background-color: var(--basic-white);
}
