.products {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  grid-column-gap: 30px;
  grid-row-gap: 14px;
  grid-template-columns: repeat(3, 1fr);

  @media #{$tablet} {
    grid-row-gap: 16px;
  }

  @media #{$mobile} {
    grid-row-gap: 6px;
    grid-template-columns: repeat(2, 1fr);
  }
}
