.search {
  display: flex;
  align-items: center;

  @media #{$tablet} {
    padding: 11px 12px 6px 14px;

    background-color: var(--field-white);
    border-radius: 21px;
  }
}

.search label {
  padding-right: 13px;

  cursor: pointer;

  &:focus,
  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.7;
  }
}

.search input {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  font-family: inherit;
  color: var(--basic-black);

  background-color: transparent;
  border: none;

  &::placeholder {
    color: var(--placeholder-grey);
  }

  &:focus,
  &:hover {
    outline: 2px solid var(--basic-black);
    outline-offset: 3px;
  }

  @media #{$tablet} {
    width: 100%;
    margin-top: -3px;

    &::placeholder {
      opacity: 0;
    }
  }
}
