.socials__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media #{$mobile} {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
}

.socials__item {
  &:not(:last-child) {
    margin-bottom: 24px;
  }

  @media #{$mobile} {
    margin: 0 16px 15px;
  }
}

.socials__link {
  display: block;

  &:focus,
  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.7;
  }
}
